{% extends "./base.html" %}

{% block title %} {{ matchday }} {% endblock %}
{% block header %} {{ matchday }} {% endblock %}

{% block content %}
<div class="card text-bg-dark mb-3">
    <div class="card-header" style="display: flex; justify-content: space-between ;">
            <div>{{ matchday }}</div>
            <button onclick="location.href='{% url 'edit_matchday' matchday.id %}'" class="btn btn-outline-success">Edit</button>
    </div>
    <div class="table-responsive">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Match</th>
                    <th scope="col">Home</th>
                    <th scope="col">Result</th>
                    <th scope="col">Away</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches_in_matchday_list %}
                <tr>
                    <td style="min-width: 10px; ">{{ match.match_in_matchday }}</td>
                    <td style="min-width: 100px; ">{{ match.team_home }}</td>
                    <td style="min-width: 10px; ">{{ match.home_goals }} - {{match.away_goals}}</td>
                    <td style="min-width: 100px; ">{{ match.team_away }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}